body {
margin:40px 20px 40px 20px;

}

.phone-images {
    width: 200px;
    height: auto;
}

.article{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin:auto;
    width: 60%;

}